
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Inscrire un nouveau joueur", "Create", "Player") <br/>


@Html.ActionLink("Voir les joueurs", "Index", "Player")<br/>

@Html.ActionLink("Voir les personnages", "Index", "Character")<br/>

<hr/>
@Html.ActionLink("Débriefing", "Debriefing", "Event")<br/>
@Html.ActionLink("Institution", "Index", "Institution")<br/>


<hr/>
@Html.ActionLink("Gérer événements", "Index", "Event")<br/>
@Html.ActionLink("Voir les années", "Index", "Year")<br/>

<hr/>

@Html.ActionLink("Préparer une année", "Create", "Year")



