@using AMF.Web.Ressources
@model List<AMF.Web.Areas.Admin.ViewModels.CharacterViewModel>

@{
    ViewBag.Title = "Index";
}


<h2>Liste des personnages non-inscrits - Soirée <!-- ko text : $root.eventNumber--><!--/ko--></h2>


<table id="characters" class="table">
    <thead>
        <tr>
            <th>@Strings.Player</th>
            <th>Personnage</th>
            <th>Nb présences</th>
            <th>@Strings.Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var character in Model)
        {
        <tr>
            <td>@(character.Player.FirstName + " " + character.Player.LastName)</td>
            <td>@(character.CharacterName)</td>
            <td>@(character.NbPresences)</td>
            <td>
                <a href="@Url.Action("Update", "Character" , new {charid=character.CharacterId})">@Strings.Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>
